{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} industries.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} industries.description {% endtrans %}" >
    <meta charset="UTF-8" />
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / careers
{% endblock %}

{% block mycss %}
    <style>


    </style>
{% endblock %}
{% block header %}
    {{ parent() }}

    <img  class="banner_img" src="{{ asset('data/img/jobs.png') }}" alt="">
{% endblock %}

{% block  main %}
    <div class="row" id="main_careers">

        <div class="row">

            <div class="section">
                <h5 class="center-align"> {% trans from 'aboutstc' %} careers.titles {% endtrans %} </h5>
                <br>

            </div>
        </div>
        <div class="row">
            <div class="col s12 m4" id="bloc1"></div>
            <div class="col s12 m8" id="bloc2"></div>
        </div>
    </div>
    <div  class="row">

    <div  class="col s12 m6 l4" class="position_titles" >

        <h4 class="center-align"> {% trans from 'aboutstc' %} careers.domaine7 {% endtrans %} </h4>

        <p>
            <h5><a class="center-align"  href="{{ path('main_careers') }}" > {% trans from 'aboutstc' %}  careers.domaine1 {% endtrans %} </a></h5>
        </p>
        <p>
            <h5> <a class="center-align" href="{{ path('main_careers') }}"> {% trans from 'aboutstc' %}  careers.domaine2 {% endtrans %} </a></h5>
        </p>
        <p>
            <h5> <a class="center-align" href="{{ path('main_careers') }}" > {% trans from 'aboutstc' %}  careers.domaine3 {% endtrans %} </a></h5>
        </p>
        <p>
            <h5> <a class="center-align" href="{{ path('main_careers') }}" > {% trans from 'aboutstc' %}  careers.domaine4 {% endtrans %} </a></h5>
        </p>
        <p>
            <h5><a class="center-align" href="{{ path('main_careers') }}" > {% trans from 'aboutstc' %}  careers.domaine5 {% endtrans %} </a></h5>
        </p>
        <p>
            <h5><a class="center-align" href="{{ path('main_careers') }}" > {% trans from 'aboutstc' %}  careers.domaine6 {% endtrans %} </a></h5>
        </p>
    </div>

    <div  class="col s12 m6 l8">
        <tr>
            <h4 class="center-align"> {% trans from 'aboutstc' %}careers.domaine8  {% endtrans %} </h4>

            <a href="{{ path ('main_careersprotech') }}" class="blue-text">  <img width="300" src="{{ asset('data/img/tecno.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img  width="300" src="{{ asset('data/img/marketing.jpg') }}" alt="">  </a>

        </tr>
        <tr>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="300" src="{{ asset('data/img/serviceclient.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="300" src="{{ asset('data/img/carrièrepro.jpg') }}" alt="">  </a>

        </tr>
        <tr>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="300" src="{{ asset('data/img/servicepro.jpg') }}" alt="">  </a>

        </tr>
        <tr>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="300" src="{{ asset('data/img/diplome.jpg') }}" alt="">  </a>

        </tr>
    </div>
    </div>
    <div>
        <h5 class="center-align"> {% trans from 'aboutstc' %}careers.domaine9  {% endtrans %} </h5>
    </div>
    <div  class="col s12 m6 l12">
        <tr>
            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="180" src="{{ asset('data/img/careers.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="180" src="{{ asset('data/img/careers.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="180" src="{{ asset('data/img/careers.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="180" src="{{ asset('data/img/careers.jpg') }}" alt="">  </a>

            <a href="{{ path ('main_privacyPolicy') }}" class="blue-text">  <img width="180" src="{{ asset('data/img/careers.jpg') }}" alt="">  </a>
        </tr>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $( document ).ready(function() {

            $(".position_details").slideUp();

            $(".position_title").click(function(){
                $(this).siblings(".position_details").slideToggle(1500);
            });
        });
    </script>
{% endblock %}
