<html>
    <head>
        <title> {% trans from 'mail' %} default.title {% endtrans %}</title>
        <style>
            body{
                background-color: #eeeeee;
                margin: 15%;
                margin-left: 25%;
                margin-top: 4%;
                margin-bottom: 10%;
                height: 100%;
            }
            .container{
                width: 80%;
                background-color: white;
                padding: 4%;
                padding-left: 6%;
                padding-right: 6%;
                min-height:700px;
                -webkit-box-shadow:  0 0 0 2px  #eeeeee, 0 0 0 4px white, 0 0 0 6px yellowgreen;
                -moz-box-shadow:  0 0 0 2px  #eeeeee, 0 0 0 4px white, 0 0 0 6px  yellowgreen;
                box-shadow:  0 0 0 2px  #eeeeee, 0 0 0 4px white, 0 0 0 6px  yellowgreen;
            }
            #head{
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 2px solid #eeeeee;
            }
            #head img{
                max-width: 60%;
            }
            #head .element:nth-child(2){
                text-align: center;
            }
            #head .element:nth-child(2) h4{

            }
            #head .element:nth-child(2) h2{
                background-color:  yellowgreen;
                color: white;
                font-weight: bold;
                font-family: "ALGERIAN";
            }
            #identity span{
                color: grey;
            }
            #body{
                margin: 3%;
                min-height:290px;
                padding: 2%;
                border: solid 1px #eeeeee;
            }
            #body{
                display: flex;
                align-items: center;
                justify-items: center;
                text-align: center;
            }
            #body .element{
                width: 100%;
                text-align: center;
            }
            #footer{
                margin-top: 4%;
                padding-top: 2%;
                border-top: #eeeeee solid 2px;
                display: flex;
            }
            #footer strong{
                color: yellowgreen;
            }
            #footer span{
                color: grey;
            }
            #footer .element:nth-child(3){
               flex: 3;
                order: 3;
            }
            #message{
                display: flex;
                align-items: center;
                justify-items: center;
                text-align: center;
                margin-top: 2%;
            }
            #message span{
                color: grey;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">

            <div id="identity">
                <p><strong>{% trans from 'mail' %} default.from {% endtrans %}:</strong> <span> contact@semanticatechnologies.com</span> </p>
                <p><strong>{% trans from 'mail' %} default.to {% endtrans %}:</strong> <span>{{ semail }}</span> </p>
            </div>
            <div id="head">
                <div class="element">
                    <img src="{{ asset('logo.png') }}" alt="">
                </div>
                <div class="element">
                    <h2>{% trans from 'mail' %} default.title {% endtrans %}</h2>
                    <h4>{% trans from 'mail' %} default.content {% endtrans %}</h4>
                </div>
            </div>
            <div id="body">
               <div class="element">

                   <br>
                   <p>
                     <p>{% trans with {'name':name} from 'mail' %} reset.content {% endtrans %} <a href="{{ link }}">{{ link }}</a></p>
                     <p>{% trans with {'link':unlink} from 'mail' %} subscribe.unsubcribe {% endtrans %}</p>
                     <p>{% trans from 'mail' %} subscribe.privacy {% endtrans %}</p>
                   </p>
               </div>
            </div>
            <div id="footer">
                <div class="element">
                    <strong> {% trans from 'mail' %} default.phone {% endtrans %}: <br></strong> <span>0044 1344 573229 </span><br>
                    <span>
                        6 Jaguar Lane, Bracknell, RG12 9PE, Berkshire, United Kingdom.
                    </span>
                </div>
                <div class="element">
                    <strong>{% trans from 'mail' %} default.email {% endtrans %}: <br> </strong> <span>contact@semanticatechnologies.com</span> <br>
                    <strong>{% trans from 'mail' %} default.phone {% endtrans %}: <br></strong> <span>semanticatechnologies.com</span>
                </div>
            </div>
            <div id="message">
                <div class="element">
                    <span>
                        {% trans from 'mail' %} default.footer {% endtrans %} <a href="{{ email }}">{{ semail }}</a>
                     </span>
                </div>
            </div>
        </div>
    </body>
</html>