<br>
{% if app.user.isCurrentParticipant(historics,id) and istask %}
    <a href="#" id="new_commit" class="waves-effect waves-light btn">{% trans from 'forms' %} form.commit.new {% endtrans %}</a>
{% else %}
    <a disabled="true" href="#" id="new_commit" class="waves-effect waves-light btn">{% trans from 'forms' %} form.commit.new {% endtrans %}</a>
{% endif %}

<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>{% trans from 'forms' %} form.commit.code {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.commit.auther {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.description {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.date {% endtrans %}</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ item.commit.code }}</td>
               <td>{{ item.commit.participator.user.firstname }}</td>
               <td>{{ item.task.planning.project.truncate(item.commit.description,50) }}</td>
               <td>{{ item.commit.date|date('d-m-y') }}</td>
               <td>
                   {% if app.user.isCurrentParticipant(historics,id) and app.user.id == item.commit.participator.user.id  %}
                       <a  href="{{ path('admin_comit_delete',{id:item.commit.id, projectid:id}) }}"><i class="material-icons">delete</i></a>
                   {% else %}
                       <a disabled="true" href="{{ path('admin_comit_delete',{id:item.commit.id, projectid:id}) }}" class="waves-effect waves-light btn"><i disabled="true" class="material-icons">delete</i> </a>
                   {% endif %}
               </td>
               <td>
                   <a href="{{ '#commit'~item.id }}"><i class="material-icons">view_headline</i></a>
               </td>
           </tr>
           <div id="{{ 'commit'~item.id }}" class="modal modal-fixed-footer">
                <div class="modal-content black-text">
                    <h4>{% trans from 'forms' %} form.Task.more {% endtrans %}</h4>
                    <p>
                        <strong>
                            {% trans from 'forms' %} form.commit.code {% endtrans %} :
                        </strong>
                        <br>
                        <span>
                            {{ item.commit.code }}
                        </span>
                    </p>
                    <p>
                        <strong>
                            {% trans from 'forms' %} form.commit.auther {% endtrans %} :
                        </strong>
                        <br>
                        <span>
                            {{ item.commit.participator.user.firstname }}
                        </span>
                    </p>
                    <p>
                    <hr>
                    <strong>
                        {% trans from 'forms' %} form.base.date {% endtrans %} :
                    </strong>
                    <br>
                                <span>
                                   {{ item.commit.date|date('d-m-y h:m:s') }}
                                </span>
                    </p>
                    <p>
                    <hr>
                    <strong>
                        {% trans from 'forms' %} form.base.description {% endtrans %} :
                    </strong>
                    <br>
                                <span>
                                   {{ item.commit.description }}
                                </span>
                    </p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


