<br>
<a href="{{ path('admin_commit_form',{projectid:id}) }}" class="waves-effect waves-light btn">{% trans from 'forms' %} form.commit.new {% endtrans %}</a>
<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>{% trans from 'forms' %} form.commit.code {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.commit.auther {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.description {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.date {% endtrans %}</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ item.commit.code }}</td>
               <td>{{ item.commit.participator.user.firstname }}</td>
               <td>{{ item.commit.description }}</td>
               <td>{{ item.commit.date|date('d-m-y') }}</td>
               <td><a href="{{ path('admin_comit_delete',{id:item.commit.id, projectid:id}) }}"><i class="material-icons">delete</i></a></td>
               <td><a href="{{ path('admin_commit_form',{id:item.commit.id, projectid:id}) }}"><i class="material-icons">edit</i></a></td>
           </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


