<br>
<div class="row" >
    <div class="col s12 right-align">
        <a id="new_comment" href="#md-new-comment" class="btn waves-effect waves-green btn-flat white-text {% if app.user.hisParticipant(participants, id) == 0%}disabled{% endif %}">{% trans from 'private' %} comment.new {% endtrans %}</a>
    </div>
</div>
<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>N°</th>
        <th>{% trans from 'forms' %} form.commit.auther {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.description {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.date {% endtrans %}</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ loop.index }}</td>
               <td>
                   {% if item.user!=null %}
                        {{ item.user.firstname }}</td>
                   {% else %}
                        {{ item.participator.user.firstname }}</td>
                   {% endif %}

               <td>{{ item.projet.truncate(item.description,40) }}</td>
               <td>{{ item.date|date('d-m-y h:m:s') }}</td>
               <td>
                   <a href="{{ '#comment'~item.id }}"><i class="material-icons">view_headline</i></a>
               </td>
               <td>
                   {% if  app.user.id == item.user.id  %}
                       <a  href="{{ path('admin_comiment_delete',{projectid:id, id:item.id}) }}" data-pid="{{ id }}" data-id="{{ item.id }}" class="delete-commit"><i class="material-icons">delete</i></a>
                   {% else %}
                       <a disabled="true" href="{{ path('admin_comiment_delete',{projectid:id, id:item.id}) }}" data-pid="{{ id }}" data-id="{{ item.id }}" class="waves-effect waves-light btn delete-commit"><i disabled="true" class="material-icons">delete</i> </a>
                   {% endif %}
               </td>
           </tr>
            <div id="{{ 'comment'~item.id }}" class="modal modal-fixed-footer">
                <div class="modal-content black-text">
                    <h4>{% trans from 'forms' %} form.Task.more {% endtrans %}</h4>
                    <p>
                        <strong>
                            {% trans from 'forms' %} form.commit.auther {% endtrans %} :
                        </strong>
                        <br>
                                <span>
                                     {% if item.user!=null %}
                                        {{ item.user.firstname }}</td>
                                     {% else %}
                                        {{ item.participator.user.firstname }}</td>
                                     {% endif %}
                                </span>
                    </p>
                    <p>
                    <hr>
                    <strong>
                        {% trans from 'forms' %} form.base.date {% endtrans %} :
                    </strong>
                    <br>
                                <span>
                                   {{ item.date|date('d-m-y h:m:s') }}
                                </span>
                    </p>
                    <p>
                    <hr>
                    <strong>
                        {% trans from 'forms' %} form.base.description {% endtrans %} :
                    </strong>
                    <br>
                                <span>
                                   {{ item.description }}
                                </span>
                    </p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'private' %} comment.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>

<div id="md-new-comment" class="modal">
    <div class="modal-content">
        <form class="col s12" method="post" action="{{ path('admin_comment_add',{id:id}) }}">
            <div class="row">
                <input type="hidden" name="hidden" id="hidden" value="{{ id }}">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <textarea id="description" name="description" class="materialize-textarea" data-length="300"></textarea>
                    <label for="description">{% trans from 'forms' %} form.base.description {% endtrans %}</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <center>
                        <button class="waves-effect waves-green btn-flat btn  white-text center-align center" type="submit">{% trans from 'private' %} comment.add {% endtrans %}</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</div>


