{% extends 'AdminBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}


{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>

        strong{
            font-weight: bold;
        }
        footer{
            bottom: 0;
            width: 100% !important;
        }
        .mega-menu{
            z-index: 9999999999999999999999999999 !important;
        }
        #navadmin{
            padding-top: 1.5%;
        }
        #zone_table{
            height: 352px;
            overflow-y: auto;
        }
        .tabs{
           background-color: #0083c0;
        }
        .tabs a{
           color: white !important;
        }
        #close_commit{
            background-color: #f44336  !important;
            margin-top: 1%;
        }
        #commit_save{
            position: absolute;
            top: 10%;
            right: 0;
            height: 90%;
            width: 30%;
            z-index: 99999999999999999999;
            border-left: #E7E7E7 3px solid;
            border-top: #E7E7E7 3px solid;
            border-bottom: #E7E7E7 3px solid;
        }

        #commit_save .content
        {
            margin: 1%;
            margin-top: 20% !important ;
        }
        @media screen and (max-width:712px) {
            #commit_save{
                width: 50%;
            }

        }
        @media screen and (max-width:500px) {

            #commit_save{
                width: 80%;
            }
        }
    </style>
{% endblock %}

{% block main %}
    {{ parent() }}
    <div class="row" id="admin_detail">
        <div class="row">
            <div class="col s12">
                <br><br><br>
                <div class="row">
                    <div class="col s12">
                        <br>
                        <div class="col s12">
                            <a class="waves-effect waves-green btn-flat red white-text right-align right" href="{{ path('admin_homepage') }}">{% trans from 'private' %} project.back {% endtrans %}</a>
                        </div>
                    </div>

                    <div class="col s12">
                        <br>
                        <ul class="tabs">
                            <li class="tab col s2"><a href="#detail" class="{% if tabs is defined and tabs==1 %} active {% endif %}">{% trans from 'private' %} project.tab1 {% endtrans %}</a></li>
                            <li class="tab col s2"><a  href="#participator" class="{% if tabs is defined and tabs==2 %} active {% endif %}">{% trans from 'private' %} project.tab2 {% endtrans %}</a></li>
                            <li class="tab col s2"><a href="#commit" class="{% if tabs is defined and tabs==3 %} active {% endif %}">{% trans from 'private' %} project.tab3 {% endtrans %}</a></li>
                            <li class="tab col s2"><a href="#planning" class="{% if tabs is defined and tabs==4 %} active {% endif %}">{% trans from 'private' %} project.tab4 {% endtrans %}</a></li>
                            <li class="tab col s2"><a href="#comment" class="{% if tabs is defined and tabs==5 %} active {% endif %}">{% trans from 'private' %} project.tab5 {% endtrans %}</a></li>

                        </ul>
                    </div>
                    <div id="detail" class="col s12">
                        {{ render(controller('AdminBundle:Project:information',{'id':id})) }}
                    </div>
                    <div id="participator" class="col s12">
                        {{ render(controller('AdminBundle:Project:participator',{'id':id})) }}
                    </div>
                    <div id="commit" class="col s12">
                        {{ render(controller('AdminBundle:Project:commit',{'id':id})) }}
                    </div>
                    <div id="planning" class="col s12">
                        {{ render(controller('AdminBundle:Project:planning',{'id':id})) }}
                    </div>
                    <div id="comment" class="col s12">
                        {{ render(controller('AdminBundle:Project:comment',{'id':id})) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row white" id="commit_save" style="display: none; height: 89.5% !important;">
        <div class="col s12">
            <span id="close_commit" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">close</i></span>
        </div>
        <div class="col s12" >
            <div class="row content">
                <form class="col s12" method="post" action="{{ path('admin_commit_add',{projectid:id}) }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="description">{% trans from 'private' %} commit.choice_task {% endtrans %}</label>
                            <br><br>
                            <select name="task_id" id="task_id">
                                {% for task in tasks %}
                                    <option value="{{ task.id }}" >{{ task.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" name="hidden" id="hidden" value="{{ id }}">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">textsms</i>
                            <textarea id="description" name="description" class="materialize-textarea" data-length="300"></textarea>
                            <label for="description">{% trans from 'forms' %} form.base.description {% endtrans %}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <center>
                                <button class="waves-effect waves-green btn-flat btn  white-text center-align center" type="submit">{% trans from 'private' %} commit.add {% endtrans %}</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="md-new-comment" class="modal">
        <div class="modal-content">

        </div>
        <div class="modal-footer">
            <form class="col s12" method="post" action="{{ path('admin_comment_add',{id:id}) }}">
                <div class="row">
                    <input type="hidden" name="hidden" id="hidden" value="{{ id }}">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <textarea id="description" name="description" class="materialize-textarea" data-length="300"></textarea>
                        <label for="description">{% trans from 'forms' %} form.base.description {% endtrans %}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <center>
                            <button class="waves-effect waves-green btn-flat btn  white-text center-align center" type="submit">{% trans from 'private' %} comment.add {% endtrans %}</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        var id = {{ id }};

        $(document).ready(function()
        {
            var hid = 0;

            var elt= {
                select: $('select'),
                modal: '.modal',
                closecommit:$('#close_commit'),
                opencommit:$('#new_commit'),
                body:$('#commit_save'),
                delete: $('.delete_projet'),
                btnNewTask : '.btn-new-task',
                BtnNewPlanning: $('#btn-new-planning'),
                planningId: $('#planning-id'),
                modalTask: $('#md-new-task'),
                modalPlanning: $("#md-new-planning"),
                formPlanning: {
                    sdate: $("#pl-start-date"),
                    edate: $("#pl-end-date"),
                    pid: $("#pid")
                },
                editParticipator: '.edit-participator',
                btnNewParticipator: $("#btn-new-participator"),
                deleteParticipator: '.delete-participator',
                datepicker: '.datepicker',
                deletePlanning : '.delete-planning',
                editPlanning : '.edit-planning',
                modalTaskList: $('#md-task-list'),
                taskCount: '.task-count',
                tableTask: $('#table-task')
            };


            elt.opencommit.click(function(e){
                elt.body.slideDown();
                e.preventDefault();
            });

            elt.closecommit.click(function(e){
                elt.body.slideUp();
                e.preventDefault();
            });

           elt.select.addClass('browser-default');

            $(elt.modal).modal();

            elt.delete.click(function(e)
            {
                if(!confirm($('#'+$(this).data('id')).text().trim()))
                {
                    e.preventDefault();
                }
            });

            $(elt.datepicker).pickadate();

            elt.btnNewParticipator.click(function(){
                $("#input-action").val("0");
            });

            $(elt.editParticipator).click(function(e)
            {
                var url = $(this).data('id');
                $('select[selected=selected]').removeAttr('selected');
                $.get(url, function(response){
                    console.log(response);
                });

                e.preventDefault();
            });

            $(elt.deleteParticipator).click(function(e)
            {
                var paid = $(this).data('id'),
                    prid = $(this).data('pid'),
                    url = Routing.generate('admin_projet_delete_participator', {_locale:locale, pid:prid, id:paid}, true),
                    msg = $("#cnf-prt-msg").text()+" "+$(this).parent('td').prev('td').prev('td').prev('td').text()+" ?";

                if(confirm(msg))
                {
                    window.location = url;
                }

                e.preventDefault();
            });

            $(elt.btnNewTask).click(function(e)
            {
                var pid = parseInt($(this).data('pid'));
                elt.planningId.val(pid);
                elt.modalTask.modal('open');
                e.preventDefault();
            });

            //Supprimer un planning
            $(elt.deletePlanning).click(function(e){
                var url = $(this).data('url');
                if(confirm('Vous confirmez ?')){
                    window.location = url;
                }
                e.preventDefault();
            });

            $(elt.BtnNewPlanning).click(function(e)
            {
                elt.formPlanning.pid.val("0");
                elt.formPlanning.sdate.val("");
                elt.formPlanning.edate.val("");

                e.preventDefault();
            });

            //Modifier un planning
            $(elt.editPlanning).click(function(e){
                var id = $(this).data('id'),
                    sdate = $(this).data('sd'),
                    edate = $(this).data('ed');

                elt.formPlanning.pid.val(""+id);
                elt.formPlanning.sdate.val(sdate);
                elt.formPlanning.edate.val(edate);

                elt.modalPlanning.modal("open");

                e.preventDefault();
            });

            $(elt.taskCount).click(function(e)
            {
                var url = $(this).data('url');

                $.get(url, function(response){
                    try{
                        var data = JSON.parse(response);
                        console.log(data);

                        var tasks = data.tasks,
                            taskCount = data.tasks.length;

                        var tbody = elt.tableTask.children('tbody');
                        tbody.empty();

                        if(taskCount === 0)
                        {
                            tbody.append('<tr><td colspan="6" class="text-center">No task created </td></tr>');
                        }
                        else
                        {
                            for(var i = 0; i < taskCount; i++)
                            {
                                var task = tasks[i];
                                var dataRow = '<tr><td>'+(i+1)+'</td><td>'+task.identity+'</td><td>'+task.libelle+'</td><td>'+task.status+'</td><td>'+task.rate+'%</td><td><a href="#"><i class="material-icons">delete</i></a></td></tr>';
                                tbody.append(dataRow);
                            }
                        }
                    }catch(ex){
                        console.log("Error while fecthing data !");
                    }
                    elt.modalTaskList.modal('open');
                });

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
