<br>
<a href="#md-new-planning" class="waves-effect waves-light btn" id="btn-new-planning">{% trans from 'forms' %} form.planning.new {% endtrans %}</a>
<span class="hide" id="msg-pla-cnf">{% trans from 'admin' %} planning.msg_delete {% endtrans %}</span>
<span class="hide" id="msg-tas-cnf">{% trans from 'admin' %} task.msg_delete {% endtrans %}</span>


<div class="row" id="page_mobile">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                {% if items!=null %}
                {% else %}
                    <h4>  {% trans from 'forms' %} form.planning.empty  {% endtrans %} </h4>
                {% endif %}
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="collapsible" data-collapsible="accordion">

                        {% for item in items %}
                            <li>
                                <div class="collapsible-header grey lighten-3"><i class="material-icons">book</i> planning {{ loop.index }}</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="card">


                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.startdate|date('d-m-y h:m:s') }}
                                                </section>
                                                <div class="divider"></div>

                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.enddate {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.enddate|date('d-m-y h:m:s') }}
                                                </section>
                                                <div class="divider"></div>
                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.tasknb {% endtrans %}</strong>
                                                    <br>
                                                    <a href="#" class="task-count" data-url="{{ path('admin_projet_get_planning', {projectid: id, id: item.id}) }}">{{ item.tasks|length }}</a>
                                                </section>
                                                <br>
                                                <a href="#" data-pid="{{ item.id }}" class="btn btn-flat blue white-text btn-new-task">
                                                    {% trans from 'forms' %} form.Task.new {% endtrans %}
                                                </a>
                                                <a data-url="{{ path('admin_projet_delete_planning', {projectid: id, id:item.id}) }}" class="delete-planning btn btn-flat  red-text" href="#">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col s12" id="page_desktop">
    <table class="bordered highlight centered responsive-table">
        <thead>
        <tr>
            <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
            <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
            <th>{% trans from 'forms' %} form.Task.tasks {% endtrans %}</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
        </tr>
        </thead>

        <tbody>
        {% if items!=null %}
            {% for item in items %}
                <tr>
                    <td>{{ item.startdate|date('d-m-y') }}</td>
                    <td>{{ item.enddate|date('d-m-y') }}</td>
                    <td><a href="#" class="task-count" data-url="{{ path('admin_projet_get_planning', {projectid: id, id: item.id}) }}">{{ item.tasks|length }}</a></td>
                    <td>
                        <a href="#" data-pid="{{ item.id }}" class="btn btn-flat blue white-text btn-new-task">
                            {% trans from 'forms' %} form.Task.new {% endtrans %}
                        </a>
                    </td>
                    <td><a data-url="{{ path('admin_projet_delete_planning', {projectid: id, id:item.id}) }}" class="delete-planning" href="#"><i class="material-icons">delete</i></a></td>
                    <td><a href="#" data-id="{{ item.id }}" data-sd="{{ item.startdate|date('d M, Y') }}" data-ed="{{ item.enddate|date('d M, Y') }}" class="edit-planning"><i class="material-icons">edit</i></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div id="md-new-planning" class="modal modal-fixed-footer">
    <form action="{{ path('admin_projet_new_planning', {id:id}) }}" method="post">
        <div class="modal-content">
            <div class="planning">
                <div class="input-field col s12">
                    <input type="date" id="pl-start-date" name="start-date" class="datepicker" required/>
                    <label for="start-date">{% trans from 'forms' %} form.planning.startdate {% endtrans %}:</label>
                </div>

                <div class="input-field col s12">
                    <input type="date" id="pl-end-date" name="end-date" class="datepicker" required/>
                    <label for="end-date">{% trans from 'forms' %} form.planning.enddate {% endtrans %}:</label>
                </div>

                <input type="hidden" name="planning-id" id="pid" value="0"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>

<div id="md-new-task" class="modal modal-fixed-footer" style="height: 500px;">
    <form action="{{ path('admin_projet_new_planning_task', {id:id}) }}" method="post">
        <div class="modal-content">
            <div class="planning">
                <div class="input-field col s12">
                    <input type="text" id="pl-label" name="label" required/>
                    <label for="pl-label">{% trans from 'forms' %} form.Task.label {% endtrans %}</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="pl-description" name="description" class="materialize-textarea" placeholder=""></textarea>
                    <label for="pl-description">{% trans from 'forms' %} form.Task.description {% endtrans %}</label>
                </div>

                <div class="input-field col s12">
                    <label for="pl-status">{% trans from 'forms' %} form.Task.tstatus {% endtrans %}</label>
                    <br><br>
                    <select name="task-status" id="pl-status" required>
                        <option value="Pending">{% trans from 'forms' %} form.Task.pending {% endtrans %}</option>
                        <option value="In progress">{% trans from 'forms' %} form.Task.progress {% endtrans %}</option>
                        <option value="Done">{% trans from 'forms' %} form.Task.done {% endtrans %}</option>
                    </select>
                </div>

                <div class="input-field col s12">
                    <p>{% trans from 'forms' %} form.Task.evolution {% endtrans %}</p>
                    <p class="range-field">
                        <input type="range" id="pl-rate" name="rate" value="10" min="0" max="100" />
                    </p>
                </div>

                <input type="hidden" name="planning-id" id="planning-id" value=""/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
        </div>
    </form>
</div>

<div id="md-task-list" class="modal">
    <div class="modal-content">
        <table id="table-task">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Identity</th>
                    <th>Label</th>
                    <th>Status</th>
                    <th>Percent Evo</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1.</td><td>ae23cd6fe470</td><td>Création du projet</td><td>Done</td><td>75%</td><td><a href="#"><i class="material-icons">delete</i></a></td></tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">

    </div>
</div>


