{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_contact">

        <div class="row">


            <div class="section">
                <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'certification' %} certification.title {% endtrans %}</strong></h5>
                <br> <br>
                <div class="col s12 m6" >
                    <img width="1024"  src="{{ asset('data/img/certification.jpg') }}" alt="">
                    <table>
                        <tr>
                            <td width="400">
                                <img width="200"   src="{{ asset('data/img/cisco.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.cisco_content {% endtrans %} </p>

                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200" height="100"  src="{{ asset('data/img/oracle.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.oracle_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200"  src="{{ asset('data/img/lpi.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.lpi_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400" >
                                <img width="200"  src="{{ asset('data/img/itil.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.itil_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200"  src="{{ asset('data/img/cobit.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.cobit_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td>
                                <a href="#"><img width="125"  src="{{ asset('data/img/button.jpg') }}" alt=""></a>

                            </td>
                        </tr>





                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
