{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>

        .certification_div {
            border: 1px solid yellowgreen;
            margin-top: 50px;
            display: flex;
            display: -webkit-flex;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .new_cert_group {
            padding: 1px;
            margin: 10px;
            /*border: 1px solid lightgray;
            width: 200px;*/
        }

        /*.new_cert are the flex items*/
        .new_cert {
            padding-left: 5px;
            height: auto;
            overflow: hidden;
            margin-bottom: 0;
            max-height: 300px;
            transition: max-height 4s ease-in-out;
        }


        .img_w {
            max-width: 100%;
            max-height: 40%;
        }
        .new_cert:hover {
            background-color: lightgray;
        }

        .hg_200 {
            height: 100%;
            -webkit-transition: height 2s; /* For Safari 3.1 to 6.0*/
            transition: max-height 4s;

        }
        .hg_400 {
            /*height: 100%;
            -webkit-transition: height 4s;  For Safari 3.1 to 6.0
            transition: height 4s;*/
            border: 1px solid lightgray;
            max-height: 600px;
            transition: max-height 4s;
        }
        /*

        */
        .see_more {
            display: block;
            background-color: yellowgreen;
            color: white;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 3px;
        }
        .see_less {
            display: block;
            background-color: yellowgreen;
            color: white;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }


        /*Media query for iPhone 6 portrait*/
        @media only screen
        and (min-device-width : 375px) /* or 213.4375em or 3in or 9cm */
        and (max-device-width : 667px) /* or 41.6875em*/
        and (orientation : portrait)
        {
            .certification_div {
                flex-wrap:wrap;
            }
        }

        /*Media query for iPhone 6 landscape*/
        @media only screen
        and (min-device-width : 375px) /* or 213.4375em or 3in or 9cm */
        and (max-device-width : 667px) /* or 41.6875em*/
        and (orientation : landscape)
        {
            .certification_div {
                flex-wrap:wrap;
            }

            .new_cert_group {
                width: 45%;
            }
        }

        /*Media query for iPhone 6+ landscape*/
        @media only screen
        and (min-device-width : 414px)
        and (max-device-width : 736px)
        and (orientation : landscape)
        {
            .certification_div {
                flex-wrap:wrap;
            }

            .new_cert_group {
                width: 45%;
            }
        }

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}

        <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'certification' %} certification.title {% endtrans %}</strong></h5>
        <img class="img_w"  src="{{ asset('data/img/certification.jpg') }}" alt="">
        <div class="row certification_div">
            <div class="new_cert_group">
            <div id="cisco" class="new_cert">
                <img class="img_w" src="{{ asset('data/img/cisco.jpg') }}" alt="">
                <p>{% trans from 'certification' %} certification.cisco_content {% endtrans %} </p>

            </div>
                <div class="see_more">See more</div>
                <div class="see_less">See Less</div>

            </div>

            <div class="new_cert_group">
                <div id="lpi" class="new_cert hg_200">
                    <img class="img_w" src="{{ asset('data/img/lpi.jpg') }}" alt="">
                    <p>{% trans from 'certification' %} certification.lpi_content {% endtrans %} </p>

                </div>
                <div class="see_more">See more</div>
                <div class="see_less">See Less</div>
            </div>

            <div class="new_cert_group">
                <div id="oracle" class="new_cert hg_200">
                    <img class="img_w" src="{{ asset('data/img/oracle.jpg') }}" alt="">
                    <p>{% trans from 'certification' %} certification.oracle_content {% endtrans %} </p>

                </div>
                <div class="see_more">See more</div>
                <div class="see_less">See Less</div>
            </div>

            <div class="new_cert_group">
                <div id="itil" class="new_cert hg_200">
                    <img class="img_w" src="{{ asset('data/img/itil.jpg') }}" alt="">
                    <p>{% trans from 'certification' %} certification.itil_content {% endtrans %} </p>

                </div>
                <div class="see_more">See more</div>
                <div class="see_less">See Less</div>
            </div>

            <div class="new_cert_group">
                <div id="cobit" class="new_cert hg_200">
                    <img class="img_w"  src="{{ asset('data/img/cobit.jpg') }}" alt="">
                    <p>{% trans from 'certification' %} certification.cobit_content {% endtrans %} </p>

                </div>
                <div class="see_more">See more</div>
                <div class="see_less">See Less</div>
            </div>

        </div>



    <div class="row" id="main_contact">
            <div class="section">
                <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'certification' %} certification.title {% endtrans %}</strong></h5>
                <br> <br>
                <div class="col s12 m6" >
                    <img width="1024"  src="{{ asset('data/img/certification.jpg') }}" alt="">
                    <table>
                        <tr>
                            <td width="400">
                                <img width="200"   src="{{ asset('data/img/cisco.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.cisco_content {% endtrans %} </p>

                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200" height="100"  src="{{ asset('data/img/oracle.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.oracle_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200"  src="{{ asset('data/img/lpi.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.lpi_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400" >
                                <img width="200"  src="{{ asset('data/img/itil.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.itil_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td width="400">
                                <img width="200"  src="{{ asset('data/img/cobit.jpg') }}" alt="">
                                <br>
                                <p>{% trans from 'certification' %} certification.cobit_content {% endtrans %} </p>
                                <a href="#">Suite</a>
                            </td>
                            <td>
                                <a href="#"><img width="125"  src="{{ asset('data/img/button.jpg') }}" alt=""></a>

                            </td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
{% endblock %}


{% block myjs %}
    <script>
        $( document ).ready(function() {
            $(".see_less").hide();

            $(".see_more").click(function(){
                $(".see_more").not(this).each(function () {
                    $(this).show();
                    $(this).siblings(".new_cert").removeClass("hg_400");
                    $(this).siblings(".see_less").hide();
                });
                $(this).hide();
                $(this).siblings(".see_less").show();
                $(this).siblings(".new_cert").addClass("hg_400");
            });

            $(".see_less").click(
                    function(){
                        $(this).hide();
                        $(this).siblings(".see_more").show();
                        $(this).siblings(".new_cert").removeClass("hg_400");
                    }
            );

        });

    </script>
{% endblock %}
