<nav id="navadmin" >
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse " id="navadmin_mobile"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a href="{{ path('admin_homepage') }}">{% trans from 'nav' %} nav.projet {% endtrans %}</a></li>
            <li><a href="{{ path('admin_contact') }}">{% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('admin_users') }}">{% trans from 'nav' %} nav.users {% endtrans %}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" class="waves-effect waves-light btn red">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a href="{{ path('admin_homepage') }}">{% trans from 'nav' %} nav.projet {% endtrans %}</a></li>
            <li><a href="{{ path('admin_contact') }}">{% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('admin_users') }}">{% trans from 'nav' %} nav.users {% endtrans %}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" class="waves-effect waves-light btn red">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
        </ul>
    </div>
</nav>