<a href="javascript:void(0);" style="font-size:15px;" class="mobile_menu_icon" id="mobile_rest"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a>
<div class="first-row">
    <div class="first-row-menu" id="first_nav">
        <ul>
            {% if app.user!=null %}
                <li class="midline-menu"><a href="{{ path('fos_user_security_logout') }}">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            {% else %}
                <li class="midline-menu"> <a href="{{ path('fos_user_security_login') }}">   {% trans from 'nav' %} nav.connection {% endtrans %}</a></li>
            {% endif %}
            {% if app.user!=null %}
                <li class="midline-menu"><a href="{{ path('main_private') }}"> {% trans from 'nav' %} nav.account {% endtrans %}</a></li>
            {% else %}
                <li class="midline-menu"><a id="mobile_register" href="{{ path('main_homepage') }}#register"> {% trans from 'nav' %} nav.register {% endtrans %}</a></li>
            {% endif %}

            <li class="midline-menu"><a href="{{ path('main_homepage') }}#contact"> {% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li class="midline-menu"><a href="{{ path('main_careers') }}"> {% trans from 'nav' %} nav.careers {% endtrans %}</a></li>
            <li class="midline-menu"><a href="{{ path('app_locale_en') }}" title="English(EN)"> {% trans from 'firstnav' %} nav.language2 {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale_fr') }}" title="French(FR)"> {% trans from 'firstnav' %} nav.language3 {% endtrans %}</a></li>
        </ul>
    </div>
</div>

<div class="first-row-mobile" style="display: none;">
    <div class="mfirst-row-menu" id="first_nav_mobile">
        <ul>
            {% if app.user!=null %}
                <li class="midline-menu"><a href="{{ path('fos_user_security_logout') }}">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            {% else %}
                <li class="midline-menu"> <a href="{{ path('fos_user_security_login') }}">   {% trans from 'nav' %} nav.connection {% endtrans %}</a></li>
            {% endif %}
            {% if app.user!=null %}
                <li class="midline-menu"><a href="{{ path('main_private') }}"> {% trans from 'nav' %} nav.account {% endtrans %}</a></li>
            {% else %}
                <li class="midline-menu"><a id="mobile_register" href="{{ path('main_homepage') }}#register"> {% trans from 'nav' %} nav.register {% endtrans %}</a></li>
            {% endif %}

            <li class="midline-menu"><a href="{{ path('main_homepage') }}#contact"> {% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li class="midline-menu"><a href="{{ path('main_careers') }}"> {% trans from 'nav' %} nav.careers {% endtrans %}</a></li>
            <li class="midline-menu"><a href="{{ path('app_locale_en') }}" title="English(EN)"> {% trans from 'firstnav' %} nav.language2 {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale_fr') }}" title="French(FR)"> {% trans from 'firstnav' %} nav.language3 {% endtrans %}</a></li>
        </ul>
    </div>
</div>

