<nav  class="grey" id="nav_top">
    <div class="nav-wrapper">
        <a id href="#"  data-activates="mobile-demo" class="button-collapse right right-align  black-text" id="menu_mobile"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a>
        <ul class="right hide-on-med-and-down">
            {% if app.user!=null %}
                <li><a href="{{ path('fos_user_security_logout') }}">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            {% else %}
                <li> <a href="{{ path('fos_user_security_login') }}">   {% trans from 'nav' %} nav.connection {% endtrans %}</a></li>
            {% endif %}
            {% if app.user!=null %}
                <li><a href="{{ path('main_private') }}">{% trans from 'nav' %} nav.account {% endtrans %}</a></li>
            {% else %}
                <li><a id="mobile_register" href="{{ path('main_homepage') }}#register"><span></span> {% trans from 'nav' %} nav.register {% endtrans %}</a></li>
            {% endif %}
            <li><a href="{{ path('main_homepage') }}#contact"><span></span> {% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('main_careers') }}"><span></span> {% trans from 'nav' %} nav.careers {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}"><span></span> {% trans from 'firstnav' %} nav.language2 {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}"><span></span> {% trans from 'firstnav' %} nav.language3 {% endtrans %}</a></li>
        </ul>
        <ul class="side-nav center center-align" id="mobile-demo">
            <li><div class="userView">
                    <div class="background">
                        <img src="{{ asset('data/img/office.jpg') }}">
                    </div>
                    <a href="#!user"><img class="circle" src="{{ asset('data/img/user/avatar.png') }}"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li>
            {% if app.user!=null %}
                <li><a href="{{ path('fos_user_security_logout') }}">{% trans from 'nav' %} nav.logout {% endtrans %}</a></li>
            {% else %}
                <li> <a href="{{ path('fos_user_security_login') }}">   {% trans from 'nav' %} nav.connection {% endtrans %}</a></li>
            {% endif %}
            {% if app.user!=null %}
                <li><a href="{{ path('main_private') }}">{% trans from 'nav' %} nav.account {% endtrans %}</a></li>
            {% else %}
                <li><a id="mobile_register" href="{{ path('main_homepage') }}#register"><span></span> {% trans from 'nav' %} nav.register {% endtrans %}</a></li>
            {% endif %}
            <li><a href="{{ path('main_homepage') }}#contact"><span></span> {% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('main_careers') }}"><span></span> {% trans from 'nav' %} nav.careers {% endtrans %}</a></li>


        </ul>
    </div>
</nav>