{# <a id="mobile_help" style="display: none;"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a> #}
<div id="nav_menu">
    <header >
        <!--
        {% include 'MainBundle:Inc:nav-mobile.html.twig' %}
        -->
    </header>
    <div class="xs-menu-cont" id="menu_small">
        <a id="menutoggle"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a>

        <nav class="xs-menu displaynone" >
            <ul>
                <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
                <li><a href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
                <li><a href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
                <li><a href="">{% trans from 'nav' %} nav.services {% endtrans %}</a></li>
                <li><a href="">{% trans from 'nav' %} nav.about {% endtrans %}</a></li>
                <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language2 {% endtrans %}</a></li>
                <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language3 {% endtrans %}</a></li>
                <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
            </ul>
        </nav>
    </div>
    <nav class="menu" id="menu_big">
        <ul>
            <li><a class="{% if index is defined and index==1 %} active_menu {% endif %}" href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a class="{% if index is defined and index==2 %} active_menu {% endif %}" href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
            <li><a class="{% if index is defined and index==3 %} active_menu {% endif %}" href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
            <li class="drop-down" id="li_service">
                <a class="{% if index is defined and index==4 %} active_menu {% endif %}" href="#service" >{% trans from 'nav' %} nav.services {% endtrans %} </a>

                <div class="mega-menu fadeIn animated" id="m_service">
                   <div class="row">
                       <div class="col offset-m1 m2 menu-section">
                           <h4><strong><a href="{{ path('main_service') }}">{% trans from 'service' %}service.our_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.our_content {% endtrans %}</p>
                           <h4><strong><a href="{{ path('main_exploreservice') }}">{% trans from 'service' %}service.explore_our_service {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2 menu-section">
                           <h4><strong><a href="{{ path('main_application') }}">{% trans from 'service' %}service.app_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.app_content {% endtrans %}</p>
                           <h4><strong><a href="{{ path('main_exploreapp') }}">{% trans from 'service' %}service.explore_our_app {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2 menu-section">
                           <h4><strong><a href="{{ path('main_business') }}">{% trans from 'service' %}service.business_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.business_content {% endtrans %}</p>
                           <h4><strong><a href="{{ path('main_serviceconseil') }}">{% trans from 'service' %}service.explore_our_business {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2">
                           <h4><strong><a href="{{ path('main_inf') }}">{% trans from 'service' %}service.infrast_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.infrast_content {% endtrans %}</p>
                           <h4><strong><a href="{{ path('main_infras') }}">{% trans from 'service' %}service.explore_our_infrast {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m3">
                           <div class="card">
                               <div class="card-image">
                                   <img src="{{ asset('data/img/service.jpg') }}">
                                   <span class="card-title"></span>
                               </div>
                               <div class="card-content">
                                   <p>
                                   <p>{% trans from 'nav' %} slide.content {% endtrans %}</p>
                                   </p>
                               </div>

                           </div>
                       </div>
                   </div>
                </div>

            </li>
            <li class="drop-down" id="li_about">
                <a class="{% if index is defined and index==5 %} active_menu {% endif %}" href="#about">{% trans from 'nav' %} nav.about {% endtrans %} </a>
                <div class="mega-menu fadeIn animated" id="m_about">
                    <div class="row">
                        <div class="col offset-m1 m2 menu-section">
                            <h4><strong><a href="{{ path('main_aboutstc') }}">{% trans from 'aboutstc' %}leadership.title{% endtrans %}</a></strong> </h4>
                            <p>{% trans from 'aboutstc' %}leadership.our_content {% endtrans %}</p>
                            <h4><strong><a href="{{ path('main_aboutstcc') }}">{% trans from 'aboutstc' %}leadership.block11{% endtrans %}</a></strong> </h4>
                        </div>
                        <div class="col m2 menu-section">
                            <h4><strong><a href="{{ path('main_newssroom') }}">{% trans from 'aboutstc' %}newsroom.title{% endtrans %}</a></strong> </h4>
                            <p>{% trans from 'aboutstc' %}newsroom.block1 {% endtrans %}</p>
                            <h4><strong><a href="{{ path('main_newsroom') }}">{% trans from 'aboutstc' %}newsroom.block11{% endtrans %}</a></strong> </h4>
                        </div>
                        <div class="col m2 menu-section"><h4><strong><a href="{{ path('main_eventss') }}">{% trans from 'aboutstc' %}events.title{% endtrans %}</a></strong> </h4>
                            <p>{% trans from 'aboutstc' %}events.block1 {% endtrans %}</p>
                            <h4><strong><a href="{{ path('main_events') }}">{% trans from 'aboutstc' %}events.block11{% endtrans %}</a></strong> </h4>
                        </div>
                        <div class="col  m2">
                            <h4><strong><a href="{{ path('main_careers') }}">{% trans from 'aboutstc' %}careers.title{% endtrans %}</a></strong> </h4>
                            <p>{% trans from 'aboutstc' %}careers.block1 {% endtrans %}</p>
                            <h4><strong><a href="{{ path('main_explorecareers') }}">{% trans from 'aboutstc' %}careers.block11{% endtrans %}</a></strong> </h4>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ asset('data/img/about2.jpg') }}">
                                </div>
                                <div class="card-content" style="line-height: 1.5em;">
                                    <p>
                                        Product Development Careers at STC: Make A Contribution
                                        to Products Companies Depend On Every Day.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
