<a id="mobile_help" style="display: none;"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a>
<div id="nav_menu">
    <header >
        {% include 'MainBundle:Inc:nav-mobile.html.twig' %}
    </header>
    <div class="xs-menu-cont" id="menu_small">
        <a id="menutoggle"><img src="{{ asset('data/img/menu.svg') }}" alt=""></a>
        <nav class="xs-menu displaynone" >
            <ul>
                <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
                <li><a href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
                <li><a href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
                <li><a href="">{% trans from 'nav' %} nav.services {% endtrans %}</a></li>
                <li><a href="">{% trans from 'nav' %} nav.about {% endtrans %}</a></li>
                <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
            </ul>
        </nav>
    </div>
    <nav class="menu" id="menu_big">
        <ul>
            <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
            <li><a href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
            <li class="drop-down" id="li_service">
                <a href="#service">{% trans from 'nav' %} nav.services {% endtrans %} </a>

                <div class="mega-menu fadeIn animated" id="m_service">
                   <div class="row">
                       <div class="col offset-m1 m2 menu-section">
                           <h4><strong><a href="{{ path('main_service') }}">{% trans from 'service' %}service.our_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.our_content {% endtrans %}</p>
                           <h4><strong><a>{% trans from 'service' %}service.explore_our_Services {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2 menu-section">
                           <h4><strong><a href="{{ path('main_serviceappli') }}">{% trans from 'serviceappli' %}service.app_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.app_content {% endtrans %}</p>
                           <h4><strong><a>{% trans from 'service' %}service.explore_our_Services {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2 menu-section">
                           <h4><strong><a href="{{ path('main_businessconsul') }}">{% trans from 'businessconsul' %}service.business_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.business_content {% endtrans %}</p>
                           <h4><strong><a>{% trans from 'service' %}service.explore_our_Services {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m2">
                           <h4><strong><a href="{{ path('main_servicedinf') }}">{% trans from 'service' %}service.itoutsourcing_service {% endtrans %}</a></strong> </h4>
                           <p>{% trans from 'service' %}service.itoutsourcing_content {% endtrans %}</p>
                           <h4><strong><a>{% trans from 'service' %}service.explore_our_Services {% endtrans %}</a></strong> </h4>
                       </div>
                       <div class="col m3">
                           <div class="card">
                               <div class="card-image">
                                   <img src="{{ asset('data/img/service.jpg') }}">
                                   <span class="card-title"></span>
                               </div>
                               <div class="card-content">
                                   <p>
                                   <p>{% trans from 'nav' %} slide.content {% endtrans %}</p>
                                   </p>
                               </div>

                           </div>
                       </div>
                   </div>
                </div>

            </li>
            <li class="drop-down" id="li_about">
                <a href="#about">{% trans from 'nav' %} nav.about {% endtrans %} </a>
                <div class="mega-menu fadeIn animated" id="m_about">
                    <div class="row">
                        <div class="col offset-m1 m2 menu-section">
                            <h4><strong>ABOUT US</strong> </h4>
                            <p>Inventory</p>
                            <p>Leadership</p>
                            <p>Breifing center</p>
                            <p>Policies</p>
                            <p><strong>Learn more abour SCT</strong></p>
                        </div>
                        <div class="col m2 menu-section">
                            <h4><strong>NEW</strong> </h4>
                            <p>Get the latest information about our company. </p>
                            <p><strong>Go to the Newsroom </strong></p>
                        </div>
                        <div class="col m2 menu-section">
                            <h4><strong>EVENTS</strong> </h4>
                            <p>Global conferences, online webinars, and everything in between. </p>
                            <p><strong>Browse Events</strong></p>
                        </div>
                        <div class="col  m2">
                            <h4><strong>CAREERS</strong> </h4>
                            <p>Learn why F5 is a great place to work, browse job openings, and apply to join our team. </p>
                            <p><strong>Explore Careers </strong></p>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ asset('data/img/about2.jpg') }}">
                                </div>
                                <div class="card-content" style="line-height: 1.5em;">
                                    <p>
                                        Product Development Careers at SCT: Make A Contribution
                                        to Products Companies Depend On Every Day.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="display: none;"><a  href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
            <li style="float:right;"><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
        </ul>
    </nav>
</div>