<nav id="nav" class="white">
    <div class="nav-wrapper">
        <a href="{{ path('main_homepage') }}" class="brand-logo " id="logo" >Semantica Technologies Corporation - STC</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse " id="mobile"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
            <li><a href="{{ path('main_homepage') }}#contact">{% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('main_homepage') }}#sendmail">{% trans from 'nav' %} nav.signup {% endtrans %}</a></li>
            <li><a href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ path('main_homepage') }}">{% trans from 'nav' %} nav.home {% endtrans %}</a></li>
            <li><a href="{{ path('main_industries') }}">{% trans from 'nav' %} nav.industries {% endtrans %}</a></li>
            <li><a href="{{ path('main_homepage') }}#contact">{% trans from 'nav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="{{ path('main_homepage') }}#sendmail">{% trans from 'nav' %} nav.signup {% endtrans %}</a></li>
            <li><a href="{{ path('main_newproject') }}">{% trans from 'nav' %} nav.newprojet {% endtrans %}</a></li>
            <li><a href="{{ path('app_locale') }}">{% trans from 'nav' %} nav.language {% endtrans %}</a></li>
        </ul>
    </div>
</nav>