<br>
<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>N°</th>
        <th>{% trans from 'forms' %} form.commit.code {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.commit.auther {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.description {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.base.date {% endtrans %}</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ loop.index }}</td>
               <td>{{ item.commit.code }}</td>
               <td>{{ item.commit.participator.user.firstname }}</td>
               <td>{{ item.commit.description }}</td>
               <td>{{ item.commit.date|date('d-m-y') }}</td>
           </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


