<br>
<div class="row" id="page_mobile">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                {% if items!=null %}
                {% else %}
                    <h4>  {% trans from 'forms' %} form.planning.empty  {% endtrans %} </h4>
                {% endif %}
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="collapsible" data-collapsible="accordion">

                        {% for item in items %}
                            <li>
                                <div class="collapsible-header grey lighten-3"><i class="material-icons">book</i> planning {{ loop.index }}</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="card">


                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.planning.startdate|date('d-m-y h:m:s') }}
                                                </section>
                                                <div class="divider"></div>

                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.enddate {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.planning.enddate|date('d-m-y h:m:s') }}
                                                </section>
                                                <div class="divider"></div>
                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.tasknb {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.tasks|length }}
                                                </section>
                                                <div class="divider"></div>
                                                <section>
                                                    <strong>{% trans from 'forms' %} form.planning.tasknb {% endtrans %}</strong>
                                                    <br>
                                                    {{ item.tasks|length }} <a href="{{ path('main_projet_task',{id:item.planning.id}) }}" class="right right-align">more</a>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="help_planning" style="display: none;">{% trans from 'forms' %} form.planning.detail {% endtrans %}</span>
<div class="col s12" id="page_desktop">
    <table class="bordered highlight centered responsive-table" >
        <thead>
        <tr>
            <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
            <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
            <th>{% trans from 'forms' %} form.planning.tasknb {% endtrans %}</th>
            <th>{% trans from 'forms' %} form.planning.task {% endtrans %}</th>
        </tr>
        </thead>

        <tbody>
        {% if items!=null %}
            {% for item in items %}
                <tr>
                    <td>{{ item.planning.startdate|date('d-m-y') }}</td>
                    <td>{{ item.planning.enddate|date('d-m-y') }}</td>
                    <td>{{ item.tasks|length }}</td>
                    <td><a href="{{ path('main_projet_task',{id:item.planning.id}) }}" class="tooltipped detail_planning" data-position="top" data-delay="50"  data-tooltip="more detail" ><i class="material-icons">view_headline</i></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>


