{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}


{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>

        strong{
            font-weight: bold;
        }
        footer{
            bottom: 0;
            width: 100% !important;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="row" id="main_account">
        <div class="row">
           <div class="col s12">
               <div class="col s5 m3">
                   <div class="" id="vertical_nav">
                       <ul>
                           <li><a class=" {% if index is defined and index==1 %}active {% endif %}" href="{{ path('main_private') }}">{% trans from 'private' %} private.project  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==2 %}active {% endif %}" href="{{ path('main_private_profile') }}" >{% trans from 'private' %} private.profile  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==3 %}active {% endif %}" href="{{ path('main_private_commit') }}">{% trans from 'private' %} private.commit  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==4 %}active {% endif %}" href="{{ path('main_private_comment') }}">{% trans from 'private' %} private.comment  {% endtrans %}</a></li>
                       </ul>
                   </div>
               </div>

               <div class="col s7 m9">
                   <br><br>
                   <div class="row" id="search">
                       <form action="" method="post">
                           <div class="col s12">
                               <div class="input-field col s12 m3">
                                   <select>
                                       <option value=""  >{% trans from 'private' %} private.choose_project {% endtrans %}</option>
                                       {% for item in list %}
                                           <option value="{{ item.id }}" {% if code is defined and code==item.id %} selected {% endif %}> {{ item.code }}</option>
                                       {% endfor %}
                                   </select>
                                   <label>{% trans from 'private' %} private.project {% endtrans %}</label>
                               </div>

                               <div class="input-field col offset-m6 s12 m3 right right-align">
                                   <i class="material-icons prefix">search</i>
                                   <input type="text" id="titre" name="titre">
                                   <label for="titre" style="text-align: left"> {% trans from 'private' %} private.find  {% endtrans %} </label>
                               </div>
                           </div>

                       </form>
                   </div>
                   <table class="bordered responsive-table ">
                       <thead>
                       <tr>
                           <th>{% trans from 'private' %} project.auther  {% endtrans %}</th>
                           <th>{% trans from 'private' %} project.commit  {% endtrans %}</th>
                           <th>{% trans from 'private' %} project.message  {% endtrans %}</th>
                           <th>{% trans from 'private' %} project.date  {% endtrans %}</th>
                       </tr>
                       </thead>

                       <tbody>
                       <tr>
                           <td>Alvin</td>
                           <td>Eclair</td>
                           <td>$0.87</td>
                           <td>$0.87</td>
                       </tr>
                       <tr>
                           <td>Alan</td>
                           <td>Jellybean</td>
                           <td>$3.76</td>
                           <td>$3.76</td>
                       </tr>
                       <tr>
                           <td>Jonathan</td>
                           <td>Lollipop</td>
                           <td>$7.00</td>
                           <td>$7.00</td>
                       </tr>
                       <tr>
                           <td>Jonathan</td>
                           <td>Lollipop</td>
                           <td>$7.00</td>
                           <td>$7.00</td>
                       </tr>
                       </tbody>
                   </table>
               </div>
           </div>
        </div>
    </div>

{% endblock %}
{% block  main %}

{% endblock %}

{% block myjs %}
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('#table').dataTable();
            $('select').material_select();
            $('.modal').modal();

            $('.delete_projet').click(function(e){
                if(!confirm($('#'+$(this).data('id')).text().trim()))
                {
                    e.preventDefault();
                }
            });

            // On recupere la position du bloc par rapport au haut du site
            var position_top_raccourci = $("#menu_big").offset().top;

            //Au scroll dans la fenetre on déclenche la fonction
            $(window).scroll(function () {

                //si on a defile de plus de 150px du haut vers le bas
                if ($(this).scrollTop() > position_top_raccourci) {

                    //on ajoute la classe "fixNavigation" a <div id="navigation">
                    $('#menu_big').addClass("fixNavigation");
                } else {

                    //sinon on retire la classe "fixNavigation" a <div id="navigation">
                    $('#menu_big').removeClass("fixNavigation");
                }
            });

        } );
    </script>
{% endblock %}
