{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}


{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>

        strong{
            font-weight: bold;
        }
        footer{
            bottom: 0;
            width: 100% !important;
            {% if list==null or list|length < 3 %} position: fixed; {% endif %}
        }
        .mega-menu{
            z-index: 9999999999999999999999999999 !important;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="row" id="main_account">
        <div class="row">
           <div class="col s12">
               <div class="col s5 m3">
                   <div class="" id="vertical_nav">
                       <ul>
                           <li><a class=" {% if index is defined and index==1 %}active {% endif %}" href="{{ path('main_private') }}">{% trans from 'private' %} private.project  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==2 %}active {% endif %}" href="{{ path('main_private_profile') }}" >{% trans from 'private' %} private.profile  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==3 %}active {% endif %}" href="{{ path('main_private_commit') }}">{% trans from 'private' %} private.commit  {% endtrans %}</a></li>
                           <li><a class=" {% if index is defined and index==4 %}active {% endif %}" href="{{ path('main_private_comment') }}">{% trans from 'private' %} private.comment  {% endtrans %}</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col s7 m9">
                   <br><br>
                   <div class="row" id="search">
                       <form action="" method="post">
                           <div class="col s12">
                               <div class="input-field col s12 m4">
                                   <select>
                                       <option value=""  >{% trans from 'private' %} private.choose_project {% endtrans %}</option>
                                       {% for item in items %}
                                           <option value="{{ item.id }}" {% if code is defined and code==item.id %} selected {% endif %}> {{ item.title }}</option>
                                       {% endfor %}
                                   </select>
                                   <label>{% trans from 'private' %} private.project {% endtrans %}</label>
                               </div>

                               <div class="input-field col offset-m5 s12 m3 right right-align">
                                   <i class="material-icons prefix">search</i>
                                   <input type="text" id="titre" name="titre">
                                   <label for="titre" style="text-align: left"> {% trans from 'private' %} private.find  {% endtrans %} </label>
                               </div>
                           </div>

                       </form>
                   </div>
                   <table class="bordered responsive-table ">
                       <thead>
                       <tr>
                           <th>{% trans from 'private' %} comment.auther  {% endtrans %}</th>
                           <th>{% trans from 'private' %} comment.project  {% endtrans %}</th>
                           <th>{% trans from 'private' %} comment.task  {% endtrans %}</th>
                           <th>{% trans from 'private' %} comment.description  {% endtrans %}</th>
                           <th>{% trans from 'private' %} comment.date  {% endtrans %}</th>
                           <th>{% trans from 'private' %} comment.reply  {% endtrans %}</th>
                       </tr>
                       </thead>

                       <tbody>

                           {% if list!=null %}
                               {% for item in list %}
                                   {% set href= "#comment"~item.comment.id %}
                                   {% set idhref = "comment"~item.comment.id %}
                                   <tr>
                                       <td>{{ item.comment.user.firstname }}</td>
                                       <td>{{ item.comment.project.title }}</td>
                                       <td>{{ item.comment.task.libelle }}</td>
                                       <td>{{ item.comment.getValue(item.comment.description,30) }}</td>
                                       <td>{{ item.comment.date|date('d-m-y h:m:s') }}</td>
                                       <td>
                                           {% if item.reply!=null %}
                                               <a href="{{ href }}"><i class="material-icons">view_headline</i></a>
                                           {% else %}
                                               0
                                           {% endif %}
                                       </td>
                                   </tr>
                                   <div id="{{ idhref }}" class="modal modal-fixed-footer">
                                       <div class="modal-content">
                                           <center>
                                               <h4> {% trans from 'home' %} main.detail {% endtrans %}</h4>
                                           </center>
                                           <p>

                                               <strong>
                                                   {% trans from 'private' %} commit.project  {% endtrans %}
                                               </strong>
                                               <br>
                                            <span>
                                                {{ item.comment.project.description }}
                                            </span>
                                           </p>
                                           <hr>
                                           <p>

                                               <strong>
                                                   {% trans from 'private' %} commit.auther  {% endtrans %}
                                               </strong>
                                               <br>
                                            <span>
                                                {{ item.comment.user.firstname }}
                                            </span>
                                           </p>

                                       </div>
                                       <div class="modal-footer">
                                           <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">{% trans from 'forms' %} form.project.close {% endtrans %}</a>
                                       </div>
                                   </div>
                               {% endfor %}
                           {% else %}
                               <tr>
                                   <td colspan="6">
                                       <h4>
                                           {% trans from 'private' %} comment.empty  {% endtrans %}
                                       </h4>
                                   </td>
                               </tr>
                           {% endif %}

                       </tbody>
                   </table>
               </div>
           </div>
        </div>
    </div>

{% endblock %}
{% block  main %}

{% endblock %}

{% block myjs %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        } );
    </script>
{% endblock %}
