{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}


{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>

        strong{
            font-weight: bold;
        }
        footer{
            bottom: 0;
            width: 100% !important;
        {% if list==null or list|length < 3 %} position: fixed; {% endif %}
        }
        .mega-menu{
            z-index: 9999999999999999999999999999 !important;
        }
        #zone_table{
            height: 352px;
            overflow-y: auto;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="row" id="main_account">
        <div class="row">
           <div class="col s12">
               <div class="col s5 m3">
                   {% include 'MainBundle:Inc:vertical-nav.html.twig' %}
               </div>
               <div class="col s7 m9">
                   <br><br>
                   <div class="row" id="search">
                       <form action="" method="post" id="form">
                           <div class="col s12">
                               <div class="input-field col s12 offset-m9 m3">
                                   <select id="code" name="code">
                                       <option value="" {% if code is defined and code=="" %} selected {% endif %} >{% trans from 'private' %} project.choose {% endtrans %}</option>
                                       <option value="0" {% if code is defined and code=="0" %} selected {% endif %}> {% trans from 'private' %} project.notvalid  {% endtrans %}</option>
                                       <option value="1" {% if code is defined and code=="1" %} selected {% endif %}> {% trans from 'private' %} project.accepted  {% endtrans %}</option>
                                       <option value="2" {% if code is defined and code=="2" %} selected {% endif %}> {% trans from 'private' %} project.progress  {% endtrans %}</option>
                                       <option value="3" {% if code is defined and code=="3" %} selected {% endif %}> {% trans from 'private' %} project.finish  {% endtrans %}</option>
                                       <option value="4" {% if code is defined and code=="4" %} selected {% endif %}> {% trans from 'private' %} project.break  {% endtrans %}</option>
                                       <option value="5" {% if code is defined and code=="5" %} selected {% endif %}> {% trans from 'private' %} project.run  {% endtrans %}</option>
                                   </select>
                                   <label>{% trans from 'private' %} project.status {% endtrans %}</label>
                               </div>
                           </div>

                       </form>
                   </div>
                  <div id="zone_table">
                      <table class="bordered responsive-table ">
                          <thead>
                          <tr>
                              <th>N°</th>
                              <th>{% trans from 'private' %} project.title  {% endtrans %}</th>
                              <th>{% trans from 'private' %} project.status  {% endtrans %}</th>
                              <th>{% trans from 'private' %} project.date  {% endtrans %}</th>
                              <th>#</th>
                              <th>#</th>
                          </tr>
                          </thead>

                          <tbody>
                          {% if list==null %}
                              <tr>
                                  <td colspan="5" class="center center-align">
                                      <h4> {% trans from 'private' %} project.empty  {% endtrans %} </h4>
                                  </td>
                              </tr>
                          {% else %}
                              {% for item in list %}
                                  {% set href= "#project"~item.id %}
                                  {% set idhref = "project"~item.id %}
                                  {% set href2= "#project2"~item.id %}
                                  {% set idhref2 = "project2"~item.id %}
                                  <tr>
                                      <td>{{ loop.index }}</td>
                                      <td>{{ item.title }} </td>
                                      <td>{{ item.CurrentStatus(item.status,app.request.locale) }} </td>
                                      <td>{{ item.date|date('d-m-Y h:i:s') }} </td>

                                      {#

                                      <td>
                                          {% if item.hashfiles!=null  %}
                                              {% if item.hashfiles!=null and  item.extfiles=="gif" or item.extfiles=="png" or item.extfiles=="jpg" or item.extfiles=="jpeg"  or item.extfiles=="PDF" or item.extfiles=="pdf" %}
                                                  <a href="{{ href }}"><i class="material-icons">attach_file</i></a>
                                              {% else %}
                                                  <a href="{{app.request.getSchemeAndHttpHost()~'/'~item.path()}}"><i class="material-icons">attach_file</i></a>
                                              {% endif %}
                                          {% endif %}
                                      </td>

                                      #}
                                      <td>
                                          <a href="{{ href2 }}" class="blue-text"><i class="material-icons" >view_headline</i></a>
                                      </td>
                                      <td>
                                          {% if item.status=="0" or item.status=="En cours"  %}
                                              {% set key = 'data'~loop.index %}
                                              <span id="{{ key }}" style="display: none;">
                                                    {% trans from 'admin' %} project.delete {% endtrans %} '{{ item.title }}'
                                              </span>
                                              <a data-id="{{ key }}" href="{{ path('main_projet_delete',{id:item.id}) }}" class="delete_projet"><i class="material-icons" >delete</i></a>
                                          {% else %}
                                              <i class="material-icons green-text" >check_circle</i>
                                          {% endif %}
                                      </td>


                                  </tr>
                                  <div id="{{ idhref2 }}" class="modal modal-fixed-footer">
                                      <div class="modal-content">
                                          <center>
                                              <h4> {% trans from 'home' %} main.detail {% endtrans %}</h4>
                                          </center>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.title {% endtrans %}
                                              </strong>
                                              <br>
                                        <span>
                                            {{ item.title }}
                                        </span>
                                          </p>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.code {% endtrans %}
                                              </strong>
                                              <br>
                                        <span>
                                            {{ item.code }}
                                        </span>
                                          </p>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.date {% endtrans %}
                                              </strong>
                                              <br>
                                        <span>
                                            {{ item.date|date('d-m-Y h:i:s') }}
                                        </span>
                                          </p>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.status {% endtrans %}
                                              </strong>
                                              <br>
                                        <span>
                                            {{ item.CurrentStatus(item.status,app.request.locale) }}
                                        </span>
                                          </p>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.file {% endtrans %}
                                              </strong>
                                              <br>
                                             {#

                                                 {% if item.hashfiles!=null  %}
                                                  {% if item.hashfiles!=null and  item.extfiles=="gif" or item.extfiles=="png" or item.extfiles=="jpg" or item.extfiles=="jpeg"  or item.extfiles=="PDF" or item.extfiles=="pdf" %}
                                                      <a href="{{ href }}"><i class="material-icons">attach_file</i></a>
                                                  {% else %}
                                                      <a href="{{app.request.getSchemeAndHttpHost()~'/'~item.path()}}"><i class="material-icons">attach_file</i></a>
                                                  {% endif %}
                                              {% endif %}
                                             #}
                                          </p>
                                          <p>
                                              <strong>
                                                  {% trans from 'private' %} project.description {% endtrans %}
                                              </strong>
                                              <br>
                                              <span>
                                                  {{ item.description }}
                                              </span>
                                          </p>

                                      </div>
                                      <div class="modal-footer">
                                          <button    class=" modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                      </div>
                                  </div>
                                  {% if item.hashfiles!=null and  item.extfiles=="pdf" or item.extfiles=="PDF"  %}
                                      <div id="{{ idhref }}" class="modal  modal-fixed-footer">
                                          <div class="modal-content">
                                              {# {{ path('admin_download',{id:projet.id}) }} #}
                                              <iframe src="{{app.request.getSchemeAndHttpHost()~'/'~item.path()}}" class="col s12"  width="100%" height="500" align="middle"></iframe>
                                          </div>
                                          <div class="modal-footer">
                                              <button  id="close" class="modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                          </div>
                                      </div>
                                  {% endif %}

                                  {% if item.hashfiles!=null and  item.extfiles=="gif" or item.extfiles=="png" or item.extfiles=="jpg" or item.extfiles=="jpeg"  %}
                                      <div id="{{ idhref }}" class="modal  modal-fixed-footer">
                                          <div class="modal-content">
                                              <img src="{{ asset(item.path()) }}" alt="" class="responsive-image materialboxed" style="max-width: 100%; max-height: inherit;">
                                          </div>
                                          <div class="modal-footer">
                                              <button  id="close" class="modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                          </div>
                                      </div>
                                  {% endif %}
                              {% endfor %}
                          {% endif %}
                          </tbody>
                      </table>
                  </div>
               </div>
           </div>
        </div>
    </div>

{% endblock %}
{% block  main %}

{% endblock %}

{% block myjs %}
    <script>
        $(document).ready(function() {
            var elt= {
                code: $('#code'),
                select: $('select'),
                form : $('#form'),
                modal:$('.modal'),
                delete: $('.delete_projet')
            }
            elt.modal.modal();
           elt.select.material_select();
            elt.code.change(function(){
                elt.form.submit();
            });

            elt.delete.click(function(e){
                if(!confirm($('#'+$(this).data('id')).text().trim()))
                {
                    e.preventDefault();
                }
            });
        } );
    </script>
{% endblock %}
