{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} project.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} project.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}

{% block mycss %}
    <style>
        body{
            overflow: hidden;
        }
        .error{
            color:red;
        }
        .card{
            padding: 2%;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}
{% block  main %}
    <div class="row" id="main_project">
        {% if message is defined %}
            <div id="notification" class="green white-text" style=" position: absolute; top: 10%; left: 45%; z-index: 99999999999;  padding: 2%; font-weight: bold;">
                {% trans from 'forms' %} form.project.save  {% endtrans %}
            </div>
        {% endif %}
       <div class="col s12">
           <br>
          <div class="card">
              <form method="post" action="" enctype="multipart/form-data">
                  <div class="row">
                      <div class="row">
                          <div class="col s12">
                              <div class="input-field col s12 m6 ">
                                  {{ form_widget(form.name,{'attr':{'class':''}}) }}
                                  {{ form_label(form.name) }}
                                  <div class="error"  >{{ form_errors(form.name) }}</div>
                              </div>
                              <div class="input-field col s12 m6 ">
                                  {{ form_widget(form.email,{'attr':{'class':''}}) }}
                                  {{ form_label(form.email) }}
                                  <div class="error"  >{{ form_errors(form.email) }}</div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col s12">
                              <div class="input-field col s12 m6 ">
                                  {{ form_widget(form.phone,{'attr':{'class':''}}) }}
                                  {{ form_label(form.phone) }}
                                  <div class="error"  >{{ form_errors(form.phone) }}</div>
                              </div>

                              <div class="input-field col s12 m6 ">
                                  {{ form_widget(form.objet,{'attr':{'class':''}}) }}
                                  {{ form_label(form.objet) }}
                                  <div class="error"  >{{ form_errors(form.objet) }}</div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col s12">
                              <div class="input-field col s12">
                                  <i class="material-icons prefix">mode_edit</i>
                                  {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                                  {{ form_label(form.description) }}
                                  <div class="error"  >{{ form_errors(form.description) }}</div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                         <div class="col s12">
                             <div class="file-field input-field col s12 ">
                                 <div class="btn grey">
                                     <span>{% trans from 'forms' %} form.project.file {% endtrans %}</span>
                                     {{ form_widget(form.file,{'attr':{'class':''}}) }}
                                 </div>
                                 <div class="file-path-wrapper">
                                     {# accept=".xlsx,.xls,image/*,.doc,.docx,.ppt,.pptx,.txt,.pdf,.zip,.7z,.rar" #}
                                     <input class="file-path validate" type="text"  placeholder="{% trans from 'forms' %} form.project.placeholder_file {% endtrans %}">
                                 </div>
                                 <div class="error"  >{{ form_errors(form.file) }}</div>
                             </div>
                         </div>
                      </div>


                      <ul class="collapsible" data-collapsible="accordion">
                          <li>
                              <div class="collapsible-header">{% trans from 'home' %} projet.optional {% endtrans %}</div>
                              <div class="collapsible-body">
                                  <div class="row ">
                                      <div class="col s12">
                                          <div class="input-field col s12 m6">
                                              {{ form_widget(form.city,{'attr':{'class':''}}) }}
                                              {{ form_label(form.city) }}
                                              <div class="error"  >{{ form_errors(form.city) }}</div>
                                          </div>
                                          <div class="input-field col s12 m6">
                                              {{ form_widget(form.country,{'attr':{'class':''}}) }}
                                              {{ form_label(form.country) }}
                                              <div class="error"  >{{ form_errors(form.country) }}</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row ">
                                      <div class="col s12">
                                          <div class="input-field col s12 m6 ">
                                              {{ form_widget(form.adress,{'attr':{'class':''}}) }}
                                              {{ form_label(form.adress) }}
                                              <div class="error"  >{{ form_errors(form.adress) }}</div>
                                          </div>
                                          <div class="input-field col s12 m6">
                                              {{ form_widget(form.type,{'attr':{'class':''}}) }}
                                              {{ form_label(form.type) }}
                                              <div class="error"  >{{ form_errors(form.type) }}</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>



                  </div>
                  <div class="row">
                      <div class="col s12 center center-align">
                          <button class="waves-effect waves-light btn grey" type="submit">{% trans from 'forms' %} form.project.submit {% endtrans %} </button>
                      </div>
                  </div>
              </form>
          </div>
       </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

            $(function(){

                {% if message is defined  %}
                    $('#notification').slideDown(100);
                    t = setInterval(function(){
                        $('#notification').slideUp();
                        clearInterval(t);
                    },4000);
                {% endif %}

                // On recupere la position du bloc par rapport au haut du site
                var position_top_raccourci = $("#menu_big").offset().top;

                //Au scroll dans la fenetre on déclenche la fonction
                $(window).scroll(function () {

                    //si on a defile de plus de 150px du haut vers le bas
                    if ($(this).scrollTop() > position_top_raccourci) {

                        //on ajoute la classe "fixNavigation" a <div id="navigation">
                        $('#menu_big').addClass("fixNavigation");
                    } else {

                        //sinon on retire la classe "fixNavigation" a <div id="navigation">
                        $('#menu_big').removeClass("fixNavigation");
                    }
                });


                /*  $(function(){
                      $('.carousel.carousel-slider').carousel({
                          full_width: true,
                          indicators: true
                      });
                  */
            /* autoplay();
             function autoplay() {
             $('.carousel').carousel('next');
             setTimeout(autoplay, 450000000000);
             }*/


            function verifMail(champ)

            {

                var regex = /^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/;

                if(!regex.test(champ))
                {
                    return false;
                }

                else
                {
                    return true;
                }
            }

            var elt = {
                c_email : $('#c_email'),
                name : $('#name'),
                message : $('#message'),
                send: $("#send"),
                email: $("#email"),
                signup: $("#signup"),
                f: $("#f"),
                form : $('#form')
            }

            var locale ='{{ app.request.locale }}';
            var error = {
                email_empty :locale=="en"? "Email address can't be empty":"L'adresse e-mail ne peut  être vide",
                email_format:locale=="en"? "Email adress format is not  correct" : "le format de l'email non respecté",
                name:locale=="en" ? "Name can't be empty" : "Le nom ne peut  pas être vide",
                message: locale=="en" ? "Message can't be empty" : "Le message ne peut  pas être vide"
            }
            elt.signup.click(function(e){
                if(elt.email.val().trim()=="")
                {
                    alert(error.email_empty);
                    e.preventDefault();
                }
                if(!verifMail(elt.email.val()))
                {
                    alert(error.email_format);
                    e.preventDefault();
                }

            });


            elt.send.click(function(e){
                var message=null;
                if(elt.c_email.val().trim()=="")
                {
                    message+= "\n ->" +error.email_empty;

                }
                if(!verifMail(elt.email.val()))
                {
                    message+= "\n ->" +error.email_format;

                }
                if(elt.name.val().trim()=="")
                {
                    message+= "\n ->" +error.name;

                }
                if(elt.message.val().trim()=="")
                {
                    message+= "\n ->" +error.message;

                }

                if(message!=null)
                {
                    e.preventDefault();
                    alert(message);
                }

            });




        });
    </script>

{% endblock %}
