{% extends 'AdminBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC - Admin  - Contact
{% endblock %}

{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>
        #navadmin{
            padding-top: 1.5%;
        }
        strong{
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block  main %}
    {% if app.request.query.get("message") is defined and  app.request.query.get("message")!=null  %}
        <div id="notification" class="green white-text" style="display:none; position: absolute; top: 10%; left: 45%; z-index: 99999999999;  padding: 2%; font-weight: bold;">
            {% trans from 'forms' %} form.project.save  {% endtrans %}
        </div>
    {% endif %}
    <div class="row" id="main_project">
        <div class="col s12">
            <br>
            <div class="card">
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                                    {{ form_label(form.description) }}
                                    <div class="error"  >{{ form_errors(form.description) }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12 center center-align">
                            <button class="waves-effect waves-light btn" type="submit">{% trans from 'forms' %} form.project.submit {% endtrans %} </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $(function(){
            {% if message is defined  %}
            $('#notification').slideDown(100);
            t = setInterval(function(){
                $('#notification').slideUp();
                clearInterval(t);
            },4000);
            {% endif %}

        });
    </script>
{% endblock %}
