{% extends 'AdminBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC - Admin
{% endblock %}

{% block mycss %}
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp.css') }}">
    <link rel="stylesheet" href="{{ asset('components/cssbase/datatablehelp2.css') }}">
    <style>
        #navadmin{
            padding-top: 1.5%;
        }
        strong{
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block  main %}

    <div class="row">
        <div class="col l12">
            <div class="card z-depth-1">
                <div class="card-content">
                    <center>
                        <strong class="card-title">{% trans from 'forms' %} form.project.list {% endtrans %}</strong>
                    </center>
                    <br/><br/>
                    <table id="table" class="centered bordered responsive-table">
                        <thead>
                        <tr>
                            <th>{% trans from 'forms' %} form.project.name {% endtrans %}</th>
                            <th>{% trans from 'forms' %} form.project.phone {% endtrans %}</th>
                            <th>{% trans from 'forms' %} form.project.email {% endtrans %}</th>
                            <th>{% trans from 'forms' %} form.project.type {% endtrans %}</th>
                            <th>{% trans from 'forms' %} form.project.objet {% endtrans %}</th>
                            <th>{% trans from 'forms' %} form.project.date {% endtrans %}</th>
                            <th>#</th>
                            <th>#</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for projet in list  %}
                            {% set href= "#project"~projet.id %}
                            {% set idhref = "project"~projet.id %}
                            {% set href2= "#project2"~projet.id %}
                            {% set idhref2 = "project2"~projet.id %}
                            <tr>
                                <td>{{ projet.truncate(projet.name,30) }}</td>
                                <td>{{ projet.truncate(projet.phone,30) }}</td>
                                <td>{{ projet.truncate(projet.email,30) }}</td>
                                <td>{{ projet.truncate(projet.type,30) }}</td>
                                <td>{{ projet.truncate(projet.objet,30) }}</td>
                                <td>{{ projet.time|date('d-m-Y h:i:s') }}</td>
                                <td>
                                    {% if projet.hashfiles!=null  %}
                                        {% if projet.hashfiles!=null and  projet.extfiles=="gif" or projet.extfiles=="png" or projet.extfiles=="jpg" or projet.extfiles=="jpeg"  or projet.extfiles=="PDF" or projet.extfiles=="pdf" %}
                                            <a href="{{ href }}"><i class="material-icons">attach_file</i></a>
                                        {% else %}
                                            <a href="{{app.request.getSchemeAndHttpHost()~'/'~projet.path()}}"><i class="material-icons">attach_file</i></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ href2 }}"><i class="material-icons">view_headline</i></a>
                                </td>
                            </tr>
                            <div id="{{ idhref2 }}" class="modal modal-fixed-footer">
                                <div class="modal-content">
                                    <center>
                                        <h4> {% trans from 'home' %} main.detail {% endtrans %}</h4>
                                    </center>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.name {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.name }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.phone {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.email }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.email {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.phone }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.type {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.type }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.objet {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.objet }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.country {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.country }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.city {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.city }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.adress {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.adress }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.date {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.time|date('d-m-Y h:i:s') }}
                                </span>
                                    </p>
                                    <p>
                                        <strong>
                                            {% trans from 'forms' %} form.project.description {% endtrans %}
                                        </strong>
                                        <br>
                                <span>
                                    {{ projet.description|raw }}
                                </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button    class=" modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                </div>
                            </div>
                            {% if projet.hashfiles!=null and  projet.extfiles=="pdf" or projet.extfiles=="PDF"  %}
                                <div id="{{ idhref }}" class="modal  modal-fixed-footer">
                                    <div class="modal-content">
                                        {# {{ path('admin_download',{id:projet.id}) }} #}
                                        <iframe src="{{app.request.getSchemeAndHttpHost()~'/'~projet.path()}}" class="col s12"  width="100%" height="500" align="middle"></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button  id="close" class="modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                    </div>
                                </div>
                            {% endif %}

                            {% if projet.hashfiles!=null and  projet.extfiles=="gif" or projet.extfiles=="png" or projet.extfiles=="jpg" or projet.extfiles=="jpeg"  %}
                                <div id="{{ idhref }}" class="modal  modal-fixed-footer">
                                    <div class="modal-content">
                                        <img src="{{ asset(projet.path()) }}" alt="" class="responsive-image materialboxed" style="max-width: 100%; max-height: inherit;">
                                    </div>
                                    <div class="modal-footer">
                                        <button  id="close" class="modal-action modal-close waves-effect waves-green btn-flat blue white-text">{% trans from 'forms' %} form.project.close {% endtrans %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $(document).ready(function() {
            $('#table').dataTable();
            $('select').material_select();
            $('.modal').modal();
        } );
    </script>
{% endblock %}
