{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}
{% block  main %}
    <div class="row" id="main_index">
        {% if message is defined %}
            <div id="notification" class="green white-text" style="display:none; position: absolute; top: 10%; left: 45%; z-index: 99999999999;  padding: 2%; font-weight: bold;">
                {% trans from 'home' %} sendmail.message  {% endtrans %} {{ message }}
            </div>
        {% endif %}

        {% if confirm is defined %}
            <div id="notification_confirm" class="green white-text" style="display:none; position: absolute; top: 10%; left: 45%; z-index: 99999999999;  padding: 2%; font-weight: bold;">
                {% trans from 'home' %} sendmail.confirm  {% endtrans %}
            </div>
        {% endif %}
        {% if error is defined %}
            <div id="notification_error" class="red white-text" style="display:none; position: absolute; top: 10%; left: 45%; z-index: 99999999999;  padding: 2%; font-weight: bold;">
                {% trans with {'%placeholder%': error } from 'home'  %} sendmail.error {% endtrans %}
            </div>
        {% endif %}
        <div class="col s12">

            <div class="row">
                <div class="section">
                    <h5> {% trans from 'home' %} main.about {% endtrans %} </h5>
                    <p>
                        <img src="{{ asset('data/img/two.png') }}" alt="">
                    </p>
                </div>
            </div>

            <div class="row">
                <div clas="section">
                    <h5>{% trans from 'home' %} main.experience {% endtrans %} </h5>
                    <p>
                        {% trans from 'home' %} main.experience_content {% endtrans %}
                    </p>
                    <div class="col s12">
                        <div class="col s12 m5 ">
                            <img src="{{ asset('data/img/three.png') }}" alt="">
                        </div>
                        <div class="col s12 offset-m2 m5">
                            <img src="{{ asset('data/img/four.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="register"></div>
            <div class="row">
                <div class="section">
                    <div class="col s12 m6">
                        <h5> {% trans from 'home' %} main.client {% endtrans %} </h5>
                        <p>
                            {% trans from 'home' %} main.client_content {% endtrans %}
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <h5> {% trans from 'home' %} main.employee {% endtrans %} </h5>
                        <p>
                            {% trans from 'home' %} main.employee_content {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>


            {% if app.user==null %}
                <div class="row">
                    <div class="section" id="sendmail">
                        <p>
                        <form action="{{ path('main_signup') }}"  method="post" id="f">
                            <div class="row">
                                <div class="col s12">
                                    <div class="col s12 m4 l4">
                                        <h5> {% trans from 'home' %} main.subscribe {% endtrans %}</h5>
                                    </div>
                                    <div class="input-field col s12 m5 l6">
                                        <input id="email" name="email" type="email">
                                        <label for="email">{% trans from 'home' %} main.email {% endtrans %}</label>
                                        <div class="error red-text" id="email_error" style="display: none;">
                                            {% trans from 'error' %} email_format {% endtrans %}
                                        </div>
                                    </div>
                                    <div class="col s12 m3 l2">
                                        <button class="waves-effect waves-light btn" type="submit" id="signup">{% trans from 'home' %} main.signup {% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="section" id="contact">
                    <h5>{% trans from 'home' %} main.contact {% endtrans %}</h5>
                    <br><br>
                    <div class="col offset-m3 m6 s12 card" style="padding-top: 2%;">
                        <h6>{% trans from 'home' %} main.drop {% endtrans %}</h6>
                        <form action="{{ path('main_contact') }}" id="form" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form_widget(form.visitor.email,{'attr':{'class':'','type':'email'}}) }}
                                    <label for="c_email">{% trans from 'home' %} main.email {% endtrans %}</label>
                                    <div class="error red-text">
                                        <div class="error"  >{{ form_errors(form.visitor.email) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form_widget(form.visitor.firstname,{'attr':{'class':''}}) }}
                                    <label for="name">{% trans from 'home' %} main.name {% endtrans %}</label>
                                    <div class="error red-text">
                                        <div class="error"  >{{ form_errors(form.visitor.firstname) }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form_widget(form.description,{'attr':{'class':'materialize-textarea'}}) }}
                                    <label for="icon_prefix2">{% trans from 'home' %} main.message {% endtrans %}</label>
                                    <div class="error red-text">
                                        <div class="error"  >{{ form_errors(form.description) }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <button class="waves-effect waves-light btn" type="submit" id="send">{% trans from 'home' %} main.send {% endtrans %}</button>
                                    <br/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="section" id="last">
                    <h5> {% trans from 'home' %} main.better {% endtrans %} </h5>
                    <p>
                        {% trans from 'home' %} main.better_content {% endtrans %}
                    </p>
                    <div class="col s12 m6">
                        <h6> {% trans from 'home' %} main.block1 {% endtrans %} </h6>
                        <p>
                            {% trans from 'home' %} main.block1_content {% endtrans %}
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <h6> {% trans from 'home' %} main.block2 {% endtrans %} </h6>
                        <p>
                            {% trans from 'home' %} main.block2_content {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

            $(function() {

                {% if message is defined  %}
                    $('#notification').slideDown(100);
                    t = setInterval(function(){
                        $('#notification').slideUp();
                        window.location.href = '{{ path('main_homepage') }}'
                        clearInterval(t);
                    },4000);
                {% endif %}

                {% if confirm is defined  %}
                    $('#notification_confirm').slideDown(100);
                    t = setInterval(function(){
                        $('#notification_confirm').slideUp();
                        clearInterval(t);
                    },4000);

                {% endif %}

                {% if error is defined  %}
                    $('#notification_error').slideDown(100);
                    t = setInterval(function(){
                        $('#notification_error').slideUp();
                        window.location.href = '{{ path('main_homepage') }}'
                        clearInterval(t);
                    },4000);
                {% endif %}
            });

        $(function(){
          /* $('.carousel.carousel-slider').carousel({
                full_width: true,
                indicators: true
            });
            */

            /* autoplay();
             function autoplay() {
             $('.carousel').carousel('next');
             setTimeout(autoplay, 450000000000);
             }*/




            function verifMail(champ)

            {

                var regex = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

                if(!regex.test(champ))
                {
                    return false;
                }

                else
                {
                    return true;
                }
            }

            var elt = {
                c_email : $('#c_email'),
                name : $('#name'),
                name_error : $('#name_error'),
                message : $('#message'),
                message_error : $('#message_error'),
                send: $("#send"),
                email: $("#email"),
                signup: $("#signup"),
                f: $("#f"),
                form : $('#form'),
                email_error:$("#email_error"),
                c_email_error:$("#c_email_error")
            }

            var locale ='{{ app.request.locale }}';
            var error = {
                email_empty :locale=="en"? "Email address can't be empty":"L'adresse e-mail ne peut  être vide",
                email_format:locale=="en"? "Email adress format is not  correct" : "le format de l'email non respecté",
                name:locale=="en" ? "Name can't be empty" : "Le nom ne peut  pas être vide",
                message: locale=="en" ? "Message can't be empty" : "Le message ne peut  pas être vide"
            }
            elt.signup.click(function(e){

                var test = verifMail(elt.email.val());

                e.preventDefault();
                if(!test)
                {
                    elt.email_error.slideDown();

                }
                else
                {
                    elt.f.submit();
                }

            });

            elt.email.keyup(function(){
                var test = verifMail($(this).val());
                if(test)
                {
                    elt.email_error.slideUp();
                }
            });





        });
    </script>
{% endblock %}
