{% extends 'mainBundle::layout.html.twig' %}

{% block title %} Mail SCI-AIC{% endblock %}

{% block mycss %}
    <style>
        #page
        {
            margin-top: 6%;
            min-height: 800px;
            padding: 6%;
        }
        #work{
            min-height:700px;
            -webkit-box-shadow:  0 0 0 2px red, 0 0 0 4px white, 0 0 0 6px blue;
            -moz-box-shadow:  0 0 0 2px red, 0 0 0 4px white, 0 0 0 6px blue;
            box-shadow:  0 0 0 2px red, 0 0 0 4px white, 0 0 0 6px blue;
        }

        h4{
            text-align: center;

        }

        img{
            max-width: 100%;
        }

        #info{
            padding: 1%;
            box-shadow: 6px 6px 6px  rgba(0,0,0,0.1);
        }

    </style>
{% endblock %}

{% block mainblock %}
    <div class="container">
        <div class="row">
            <div class="col s12 grey" id="page">
                <div class="col s12 m1">

                </div>
                <div class="col s12 m10 white" id="work">
                    <h4 class="blue white-text"><strong> AGENCE IMMOBILIER DU CAMROUN</strong></h4>
                    <p><strong>SCI-AIC</strong></p>
                    <p>BP : 420 Douala</p>
                    <p>Douala-Logpom-Hopital des soeurs</p>
                    <p>Tel: 696818261 / 670193644</p>
                    <p>Smail: <a href="alaintuh@yahoo.co.uk"> Info </a> / <a href="Sdanicktakam@yahoo.fr ">SCI-AIC</a></p>
                    <p>Site: <a href="www.aicamer.com"> www.aicamer.com</a> </p>
                    <div class="row">
                       <div class="col s12 m5">
                           <img src="{{ asset('logo1.jpg') }}" alt="">
                       </div>
                        <div class="col m6 s12  green white-text" id="info">
                            <h6><strong>SCI-AIC vous felicite pour la création de votre compte à partir du poste identifie : {{ identifiant }}</strong></h6>
                            <br>
                            vous êtes à présent membre de AIC vos coordonnees sont:
                            <p>Profil: <img src="{{ asset(photo) }}" alt=""></p>
                            <p>Email: <a href="{{ email }}">email</a></p>
                            <p>Code: {{ code }}</p>
                            <p>Nom et Prénom : {{ nom }}</p>
                            <p>téléphone : {{ telephone }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 right-align">
                           <strong>  Copyrigth by Info@aicamer.com, tout droit réservé. </strong>
                        </div>
                    </div>
                </div>
                <div class="col s12 m1">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}

{% endblock %}